<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.fast.fast_delivery">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <meta-data android:name="com.google.android.geo.API_KEY"
    android:value="AIzaSyCaRhd-bcVslqS2WOPsDR_IG6bR22pL6Fo"/>
</manifest>
